.App {
  text-align: center;
}

.App-border {
  border: 5px dotted black;
  margin:10px;
  padding: 10px;
}



.App-link {
  color: #61dafb;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 1%;
  padding-right: 4%;
    gap: 2%;
    /* add gap between two buttons */
}
.table-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.table-cell {
  padding: 8px;
  font-size: 2px;
}


.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  margin-top: 10px;
}

.add-player-container {
  position: absolute;
  top: 0;
  right: 0;
}
.MuiPaginationItem-icon {
  color: black;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #202020;
  color: white;
}

.App-logo {
  height: 100%;
  margin-right: 1rem;
}